{% extends 'main.html' %}
{% load static %}
{% block title %} Change Password | Beyond the Boundaries {% endblock %}

{% block extra_css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .login {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block content %}
    <div class='container login'>
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8">
                <h1 class="text-center">Change Password</h1>
                <br>
                <div class="form-group text-center">
                    <form method="POST" style="font-size: medium;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class='btn btn-secondary btn-lg submit' style="font-size: 20px;" type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100vh;">
            
    </div>
{% endblock %}