{% extends 'main.html' %}
{% load static %}
{% block title %} Create A New Blog Post {% endblock %}

{% block extra_css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <div class='container'>
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h1 class="text-center">Add Blog Post</h1>
                        <br>
                        <div class="form-group text-center">
                            <form method="POST" style="font-size: medium;">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <textarea id="editor" cols="30" rows="30", placeholder="Type the article here..."></textarea>
                                <br>
                                <button class='btn btn-secondary btn-lg submit' type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <br>
        <h1 class='text-center'>You're not allowed here! (and you know it...)</h1>
        <div style="height: 100vh;">
            
        </div>
        {% endif %}
    {% else %}
    <br>
    <h1 class='text-center'>You're not allowed here! (and you know it...)</h1>
    <div style="height: 100vh;">
        
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.tiny.cloud/1/34z4nrb4uzuoaxa1dcrv80ott2g7qmug5izy0y2lnumyoquf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
        tinymce.init({
            force_br_newlines : true,
            force_p_newlines : false,
            forced_root_block : '',
            selector: 'textarea#editor',
            skin: 'bootstrap',
            plugins: 'lists, link',
            toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
            menubar: false
        });
    </script>

    <script>               
        document.querySelector('.submit').addEventListener('click', function(e) {
            let content = tinymce.get('editor').getContent()
            document.querySelector('.body').innerHTML = content
        })
    </script>

    <script>
        let name = "{{ user.id }}"
        document.getElementById('author').value = name
    </script>
{% endblock %}
