{% extends 'main.html' %}
{% load static %}
{% block title %} Beyond The Boundaries {% endblock %}


{% block content %}
	<header class="main-header " style="background-image: url('{% static '/img/intro.jpg' %}')">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">Beyond the Boundaries</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<h2 class="page-description">Thoughts, reviews and ideas since 2021.</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="{% static '/img/shadow.png' %}" class="wrapshadow">
		<div class="grid">
			{% for article in object_list %}
				<div class="grid-item">
					<article class="post featured">
					<div class="wrapgriditem">
						{% if article.header_image %}
							<header class="post-header">
							<!-- <img src="{{ article.header_image.url }}" style="height:200px; width: 100%; border-radius: 5%;"> -->
							<!-- <br><br> -->
							<h2 class="post-title"><a href="{% url 'article' article.pk %}" style="text-decoration: none;">{{ article.title }}</h2>
							</header>
						{% else %}
							<header class="post-header">
							<h2 class="post-title"><a href="{% url 'article' article.pk %}" style="text-decoration: none;">{{ article.title }}</h2>
							</header>
						{% endif %}
						<section class="post-excerpt">
						<p>
							{{ article.body|truncatechars_html:'200'|safe }} <a class="read-more" href="{% url 'article' article.pk %}">&raquo;</a>
						</p>
							</section>
						<footer class="post-meta">
						<img class="author-thumb" src="{{ article.author.userprofile.profile_pic.url }}" alt="David" nopin="nopin"/>
						<a href="{% url 'about' %}">{{ article.author.first_name }} {{ article.author.last_name }}</a>
						<time class="post-date" datetime="{{ article.created_at }}">{{ article.created_at }}</time>
						</footer>
					</div>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
	</main>
	{% include 'back_to_top.html' %}
{% endblock %}
