{% extends 'main.html' %}
{% load static %}
{% block title %} Update | {{ post.title }} {% endblock %}

{% block extra_css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <div class='container text-center'>
        <br>
        <h1 class="text-center">Update Blog Post | <span class='text-secondary'>"{{ post.title }}"</span></h1>
        <br>
        <div class="form-group">
            <form method="POST" style="font-size: medium;" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <textarea id="editor" cols="30" rows="30", placeholder="Type the article here..."></textarea>
                <br>
                <button class='btn btn-secondary btn-lg submit' type="submit">Update</button>
            </form>
        </div>
    </div>
    {% else %}
    <br>
    <h1>You're not allowed here! (and you know it...)</h1>
    <div style="height: 100vh;">
     
    </div>
    {% endif %}   
{% else %}
<br>
<h1>You're not allowed here! (and you know it...)</h1>
<div style="height: 100vh;">
 
</div>
{% endif %}
{% endblock %}


{% block extra_js %}
    <script src="https://cdn.tiny.cloud/1/34z4nrb4uzuoaxa1dcrv80ott2g7qmug5izy0y2lnumyoquf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
        tinymce.init({
            force_br_newlines : true,
            force_p_newlines : false,
            forced_root_block : '',
            selector: 'textarea#editor',
            skin: 'bootstrap',
            plugins: 'lists, link, image, media',
            toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
            menubar: false
        });

        document.getElementById('editor').innerHTML = document.querySelector('.body').innerHTML
                
        document.querySelector('.submit').addEventListener('click', function(e) {
            let content = tinymce.get('editor').getContent()
            document.querySelector('.body').innerHTML = content
        })
    </script>
{% endblock %}